{% include 'dashboard/home.html'%}

{% load static %}
{% comment %} 
<head>
  <link rel="stylesheet" src="{% static 'dashboard/main.css' %}">
</head> 
{% endcomment %}

{% block content %}
  <div class="analysis">

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Carbon')" id="defaultOpen">Carbon</button>
      <button class="tablinks" onclick="openCity(event, 'Energy')">Energy</button>
      <button class="tablinks" onclick="openCity(event, 'Cost')">Cost</button>
      <br>
    </div>
    
    <div id="Carbon" class="tabcontent">
      
      <div class="img_container"> 
        <img src="data:image/png;base64,{{ carbon }}" alt="">
      </div>
    </div>
    
    <div id="Energy" class="tabcontent">
      <div class="img_container"> 
        <img src="data:image/png;base64,{{ energy }}" alt="">
      </div>
    </div>

    <div id="Cost" class="tabcontent">
      <div class="img_container"> 
        <img src="data:image/png;base64,{{ cost }}" alt="">
      </div>
    </div>

    <div class="refresh-button">
      <form method="POST">
        {% csrf_token %}
        <button onclick="javascript:document.getElementById('page-loader').style.display='block';" class="refresh" name="refresh" value={{current}}>Refresh Graphs<br>Data Centre ID: {{current}}</button>
      </form>  
        {% if error.non_field_errors %}<div class="configure-error">{{error.non_field_errors}}</div>{% endif %}
    </div>
  

  </div>

{% endblock %}
<script src="/../../static/dashboard/js/tabs.js"></script>
<!-- <script src="{% static 'dashboard/js/form.js' %}"></script> -->
