{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block title %}<title>Datacenter Management</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'dashboard/main.css' %}">
  </head>

 <div class="page-container"> 

  <div class="menu-container"> 
    <nav class = "menu">  
      <div class = "logo">
        <h2>Data Centre Dashboard</h2>
        <a href="{% url 'loadDC' %}"><img alt="ICON" src="{% static 'dashboard/icons/server-icon.png' %}" width="190"/></a>
      </div>

      <ul>
        <li tabindex="0" class="server-icon"> 
          <img src="{% static 'dashboard/icons/server-icon.png' %}" >
          {% if page == "home" %}<a class="active" href="{% url 'loadDC' %}">HOME</a>{% else %} <a href="{% url 'loadDC' %}">HOME</a>{% endif %} 
        </li>
        
        <li tabindex="0" class="icon-tag"> 
          <img src="{% static 'dashboard/icons/data-analysis-icon.png' %}" > 
          {% if page == "analysis" %}<a class="active" href="{% url 'analysis' %}">ANALYSIS</a>{% else %} <a href="{% url 'analysis' %}">ANALYSIS</a>{% endif %} 
        </li>
        
        <li tabindex="0" class="icon-analysis">  
          <img src="{% static 'dashboard/icons/tag-label-icon.png' %}" >
          {% if page == "tags" %}<a class="active" href="{% url 'tags' %}">TAGS</a>{% else %} <a href="{% url 'tags' %}">TAGS</a>{% endif %} 
        </li>
      </ul>


      <div class="nav-status">
        <div class="current-status">
            <h3>Master IP: {{master}}</h3>
            <h3>Datacenter: {{current}}</h3>
          </div>

        <a class="a2">
          <form method="POST">
            {% csrf_token %}
            <input type="text" id="ip" name="ip" placeholder={{master}}>
            <br>
            <button type="submit" class="save">Change</button>
          </form>
        </a>
        
        <div class="status-indicator">
          {%if online == "true"%}
          <div class="online-indicator">
            <span class="blink"></span>
          </div>
          <h2>Online</h2>

          {%else%}
          <div class="online-indicator" style="background-color: #f82121;">
            <span class="blink" style="background-color: #f82121;"></span>
          </div>
          <h2>Offline</h2>
          {%endif%}
        </div>
      </div>  
    </nav>
  </div>

  <div class="main-container">
    {% block content %}
    <!-- <div class="main">
    </div> -->
    {% endblock %}
  </div>
</div>

</html>



