{% include 'dashboard/home.html'%}

{% load static %}
{% comment %} 
<head>
  <link rel="stylesheet" src="{% static 'dashboard/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head> 
{% endcomment %}

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>

    {% block content %}

    <div class="table-container">

      <caption class="table-header">Configured Datacenters: {{configured_count}}</caption>
      <table style="width:100%" class="styled-table">
        <thead>
        <tr>
          <th></th>
          <th>Datacenter</th>
          <th>ID</th>
          <th>PUE</th>
          <th>Avg. Cost Tariff (€/kWh)</th>
          <th>Avg. Carbon Tariff (KgCO2/kWh)</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th></th>
        </tr>
        </thead>
        {% for datacenter in configured %}
        <tbody>
          {% if datacenter.sub_id == current %}<tr style="font-weight: bold; color: #041E42; background-color: #dfdfdf;">{% else %}<tr>{% endif %}
          <td>
            <form method="POST">
              {% csrf_token %}
              <button type="submit" class="select_button" name = "current_datacenter" value={{datacenter.sub_id}}>Select</button>
          </form>
          </td>
          <td>{{datacenter.datacenterid}}</td>
          <td>{{datacenter.sub_id}}</td>
          <td>{{datacenter.pue}}</td>
          <td>{{datacenter.energy_cost |floatformat:3 }}</td>
          <td>{{datacenter.carbon_conversion |floatformat:3 }}</td>
          <td>{{datacenter.startTime}}</td>
          <td>{{datacenter.endTime}}</td>
          <td>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="delete_button" name = "to_delete" value={{datacenter.sub_id}}>Delete</button>
            </form>
          </td>
        </tr>
        </tbody>
        {% endfor %}
      </table>

      <br>
      <caption class="table-header">Available Datacenters: {{datacenters_count}}</caption>
      <table style="width:100%" class="styled-table">
        <thead>
        <tr>
          <th>Datacenter</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
        {% for datacenter in datacenters %}
        <tbody>
        <tr>
          <td>{{datacenter.datacenterid}}</td>
          <td>{{datacenter.datacentername}}</td>
          <td>{{datacenter.description}}</td>
        </tr>
      </tbody>
        {% endfor %}
      </table>

    </div>

    <div class="load-container">
        
      <div class="update-button">
        <form method="POST">
          {% csrf_token %}
          <button onclick="javascript:document.getElementById('page-loader').style.display='block';" class="update-button" name = "update" value={{current}} >Update Datacenter: {{current}} <br> Last update: {{last_update}}</button>
        </form>  
          {% if error.non_field_errors %}<div class="configure-error">{{error.non_field_errors}}</div>{% endif %}
      </div>
      <div class="loadDC-form" id="loadDC-form">
                
        <div class="configure_card" action="/action_page.php" class="form-container">
          <form method="POST" >
            {% csrf_token %}
            <br>
            <table style="width:100%" class="configure-table">
              <tr>
                <th>* Datacenter</th>
                <td>            
                  <label for="to_configure"></label>
                  <select name="to_configure" required>
                  {% for datacenter in datacenters %}
                      <option name="to_configure" >{{ datacenter.datacenterid }}</option>
                  {% endfor %}
                  </select>
                </td>
              </tr>
  
              <tr>
                <th>* Start Date</th>
                <td>            
                  <label for="start"></label>
                  <input type="date" id="start" name="start" required>
                </td>
              </tr>
              
              <tr>
                <th>End Date</th>
                <td>            
                  <label for="endTime"></label>
                  <input type="date" id="endTime" name="endTime">
                </td>
              </tr>
        
              <tr>
                <th>* PUE</th>
                <td>            
                  <label width="1px" for="pue"></label>
                  <input type="number" id="pue" name="pue" step="0.01" required>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <button onclick="javascript:document.getElementById('page-loader').style.display='block';" type="submit" class="submit_button">Submit</button>
                </th>
                </tr>
              </table>
  
            </form>
        </div>
      </div>
    </div>

    {% endblock %} 

<script src="{% static 'dashboard/js/form.js' %}"></script>
<script src="{% static 'dashboard/js/tooltip.js' %}"></script>

