:root {
  --bg-colour: rgba(11, 26, 59, 0.918);
  --bg-offset: rgb(89, 107, 145);
  --table-offset: rgba(187, 143, 104, 0.925);
  --table-colour: rgba(23, 38, 71, 0.829);
  --nav-colour: rgb(227, 95, 19);
  --page-font: #fff;
  --font-header: rgb(227, 95, 19);
  --table-shadow:  rgba(255,255,255,0.2);
}

body{
  background: var(--bg-colour);
	margin:0;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: var(--page-font);
	padding-left: 5px;
  position: relative;
  height:130vh;
  background-image: url( 'media/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main{
  position: relative;
  /* height:130vh; */
  background-image: url( 'media/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
	
.main-content{
  background:var(--bg-colour);
  color: var(--bg-colour);
  position:absolute;
  top:10%;
  left:70%;
  transform:translate3d(-50%, -50%,0);
  padding:1.2em 2em;
  text-align:center;
  border-radius:20px;
  font-size:2em;
  font-weight:bold;
}

.main-content h2{
  color: var(--bg-colour);
  font-size:0.4em;
  display:block;
}

.menu-container{
	width: 280px;
}

.menu{
	background: var(--bg-colour);
	height:100vh;
	width: 280px;
	position: fixed;
	top:0;
	left:0;
	z-index:5;
	outline:none;
}

.menu ul{
  list-style:none;
  padding:0.5em 0;
  margin:0; 
  padding-top: 80px;
}
.menu li{
  padding: 0.5em 1em 0.5em 3em;
  font-size:25px;
  font-weight: regular;
  background-repeat:no-repeat;
  background-position:left 15px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
}
.menu li img{
  margin-right: 25px;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 25px;
}

.menu li .icon-dashboard{
  list-style-image: url('icons/tag-label-icon.png');
  }
.menu li .icon-tag{
  list-style-image: url('icons/tag-label-icon.png');
  }
.menu li .icon-analysis{
    background-image:url('icons/data-analysis-icon.png');
  }
.menu li:hover{
  background-color:rgba(0,0,0,0.1);
}
.menu li:focus{
  outline:none;
}

a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; 
}

.logo{
  background:rgba(0,0,0,0.1);
  padding: 2em 0.5em;
  text-align:center;
}
  
.logo img{
  background-color: var(--nav-colour);
  width:40%;
  border-radius:20%;
  overflow:hidden;
  border:4px solid var(--nav-colour);
  box-shadow:0 0 0 4px var(--table-shadow);
}
  
.logo h2{
  font-weight: bold;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: var(--font-header);
}

/* Navbar Status */
.nav-status {
  background:rgba(0,0,0,0.1);
  width: 280px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background:rgba(0,0,0,0.1);
  color: var(--nav-colour);
}

.nav-status button {
  margin-top: 10px;
}

.nav-status h2{
  text-align: left;
  margin-left: 35%;
}

/* online / offline indicator */
.online-indicator {
  float: left;
  margin-top: 5px;
  margin-left: 40px;
  background-color: #0fcc45;
  border-radius: 50%;
}
span.blink {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #0fcc45;
  opacity: 0.7;
  border-radius: 50%;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% { transform: scale(2, 2); 
          opacity: 0;
        }
}


/* Table Styling */
input[type=number]{
  width: 50px;
}

.table-container {
	position: absolute;
	top: 45%;
	left: 60%;
	transform: translate(-50%, -50%);
  text-align: center;
}

.table-header {
  font-weight: 300;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
	padding: 15px;
	background-color:  var(--table-colour);
	color: #fff;
}

th {
	text-align: center;
}

thead th {
		background-color: var(--table-offset);
}
tbody tr {

	}

tbody tr:hover {
    background-color:  var(--table-shadow);
  }

tbody td {
		position: relative;
}
tbody td:hover :before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color:  var(--table-shadow);
    z-index: -1;
}

.load-container {
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Buttons Styling */
button {
  margin-top: 10px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* Tags Page*/
input{
  font-size: 14px;
  position: relative;
  padding: auto;
}
.change-tariffs{
  width: 600px;
}

.tariff-form-1{
  position: absolute;
  top: 3%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: right;
  width: 600px;
}

.tariff-form-2{
  position: absolute;
  top: 7%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: right;
  width: 600px;
}

.tariff-error {
  position: absolute;
  top: 5%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--font-header);
  color: --page-font;
  width: 350px;
  border-radius: 50px 20px;
  list-style-type: none; 
}

.table-container p{
  background-color: var(--bg-colour);
}

/* Analysis Page */
.analysis {
	position: absolute;
  top: 40%;
	left: 60%;
	transform: translate(-50%, -50%);
  text-align: center;
}

/* loadDC Page */

.loadDC-container{
  display: flex;
} 

.button-container {
  flex: 1;
}

/* Analysis Page */

.refresh-button {

}

